<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>733402692909-pff65bv4eb0oucf7ikcjtkj5kdaq8pe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733402692909-pff65bv4eb0oucf7ikcjtkj5kdaq8pe6</string>
	<key>API_KEY</key>
	<string>AIzaSyBOpfTn71_xcWH0492WLMgE4KHsqoK_kJs</string>
	<key>GCM_SENDER_ID</key>
	<string>733402692909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvt.alarmweather</string>
	<key>PROJECT_ID</key>
	<string>project-8551195480023368938</string>
	<key>STORAGE_BUCKET</key>
	<string>project-8551195480023368938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:733402692909:ios:7b6d97649218adb0</string>
	<key>DATABASE_URL</key>
	<string>https://project-8551195480023368938.firebaseio.com</string>
</dict>
</plist>